{% extends 'base/base.html' %}
{% load to_jalali %}
{% block title %}تخلیه{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-lg-6">
            <h1>تخلیه</h1>
        </div>
        <div class="col-lg-6">
            <a href="{% url 'forklift_panel' %}" class="btn btn-secondary">بازگشت</a>
            <a href="{% url 'edit_unload' unload.id %}" class="btn btn-warning">ویرایش</a>
            <a href="{% url 'delete_unload' unload.id %}" class="btn btn-danger">حذف</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <th>شماره پلاک</th>
                    <td>{% if unload.license_number %}{{ unload.license_number.License_plate_number }}{% endif %}</td>
                </tr>
                <tr>
                    <th>محل تخلیه</th>
                    <td>{% if unload.unload_location %}{{ unload.unload_location.name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>مقدار</th>
                    <td>{{ unload.quantity }}</td>
                </tr>
                <tr>
                    <th>کیفیت</th>
                    <td>{{ unload.quality }}</td>
                </tr>
                <tr>
                    <th>راننده لیفت تراک</th>
                    <td>{% if unload.forklift_driver_name %}{{ unload.forklift_driver_name.name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>زمان ساخت</th>
                    <td>{% to_jalali unload.CreationDateTime %}</td>
                </tr>
                <tr>
                    <th>آخرین آپدیت</th>
                    <td>{% to_jalali unload.LastUpdate %}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
