/robust_esp_wifi/.devcontainer
/robust_esp_wifi/.vscode
/robust_esp_wifi/build
/Quad_ESP32_img_query/src/10. new_qrcode/qrcode/.devcontainer
/Quad_ESP32_img_query/src/10. new_qrcode/qrcode/.vscode
/Quad_ESP32_img_query/src/4.quad_esp_downlaod_img/quad_espidf_img_download/.devcontainer
*.log
/Quad_ESP32_img_query/src/9. idf_qrcode/ds_camera_feed/.devcontainer
/Quad_ESP32_img_query/src/9. idf_qrcode/ds_camera_feed/.vscode
/TOTAL Monitoring/DHT22_Modules/V1/.devcontainer
/TOTAL Monitoring/DHT22_Modules/V1/.vscode
/TOTAL Monitoring/DHT22_Modules/V1/build
/TOTAL Monitoring/DHT22_Modules/V2/build
/TOTAL Monitoring/test/DHT22_driver/build
/TOTAL Monitoring/DHT22_Modules/V2/.vscode
/TOTAL Monitoring/DHT22_Modules/V2/.devcontainer
/TOTAL Monitoring/MQ-4/V1/build
/TOTAL Monitoring/MQ-4/V1(deprecated)/build
/TOTAL Monitoring/DHT22_Modules/V3/.devcontainer
/TOTAL Monitoring/DHT22_Modules/V3/.vscode
/TOTAL Monitoring/DHT22_Modules/.vscode
/mlx9064x/v2/MLX90640_Thermal_Camera/.theia
/mlx9064x/v1/MLX90640_Thermal_Camera/.theia
/TOTAL Monitoring/MQ-4/V1(deprecated)/.devcontainer
/TOTAL Monitoring/MQ-4/V1(deprecated)/.vscode
