{% extends 'base/base.html' %}
{% load to_jalali %}
{% block title %}تامین کنندگان{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row my-4">
        <div class="col-lg-6">
            <h1>تامین کنندگان</h1>
        </div>
        <div class="col-lg-6">
            <a href="{% url 'add_supplier' %}" class="btn btn-primary">افزودن تامین کننده</a>
        </div>
    </div>
    {% if suppliers %}
    <div class="row mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>نام</th>
                    <th>شماره تلفن</th>
                    <th>آدرس</th>
                    <th>ایمیل</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    <td><a href="{% url 'view_supplier' supplier.id %}">{{ supplier.name }}</a></td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>{{ supplier.email }}</td>
                    <td>
                        <a href="{% url 'edit_supplier' supplier.id %}" class="btn btn-warning">ویرایش</a>
                        <a href="{% url 'delete_supplier' supplier.id %}" class="btn btn-danger">حذف</a>
                        <a href="{% url 'view_supplier' supplier.id %}" class="btn btn-info">مشاهده</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="col-12">
            <p>هیچ تامین کننده ای یافت نشد</p>
        </div>
    {% endif %}
</div>
{% endblock %}

