{% extends 'base/base.html' %}
{% block title %}ویرایش Vision{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>ویرایش Vision</h1>
        </div>
        <div class="col-lg-6">
            <a href="{% url 'visions' %}" class="btn btn-secondary">بازگشت</a>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'edit_vision' vision.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">نام Vision</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="نام Vision را وارد کنید" value="{{ vision.name }}">
            </div>
            <div class="form-group">
                <label for="description">توضیحات</label>
                <textarea class="form-control" id="description" name="description" placeholder="توضیحات Vision را وارد کنید">{{ vision.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="server_ip">IP Server</label>
                <input type="text" class="form-control" id="server_ip" name="server_ip" placeholder="IP Server را وارد کنید" value="{{ vision.server_ip }}">
            </div>
            <button type="submit" class="btn btn-primary mt-3">ویرایش</button>
        </form>
    </div>
</div>
{% endblock %}