{% extends 'base/base.html' %}
{% block title %}راننده لیفت تراک ها{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>راننده لیفت تراک ها</h1>
        </div>
        <div class="col-lg-6">
            <a href="{% url 'add_forklift_driver' %}" class="btn btn-primary">افزودن راننده لیفت تراک</a>
        </div>
    </div>
    <div class="row">
        {% if forklift_drivers %}
        {% for forklift_driver in forklift_drivers %}
        {% if not forklift_driver.Is_Deleted %}
            <div class="col-lg-3">
                <a href="{% url 'view_forklift_driver' forklift_driver.id %}" class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ forklift_driver.name }}</h5>
                    </div>
                </a>
                <a href="{% url 'edit_forklift_driver' forklift_driver.id %}" class="btn btn-warning">ویرایش</a>
                <a href="{% url 'delete_forklift_driver' forklift_driver.id %}" class="btn btn-danger">حذف</a>
            </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="col-12">
            <p>هیچ راننده لیفت تراکی یافت نشد</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}